@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Poppins&display=swap');

:root {
    --colourBgMain: #F8EDCA;
    --colourBgComplementary: #0038A8;
    --colourBgNav: #E8D285;
    --colourRed: #FF6B6B;

    /* --fontTitle: 'Lexend Zetta', sans-serif; */
    --fontMain: Poppins, sans-serif;
}